version: 2
updates:
    -   package-ecosystem: gradle
            directory: "/"
            schedule:
                interval: daily
                time: "15:00"
                timezone: "Europe/Warsaw"
            open-pull-requests-limit: 10
