name: Publish to Modrinth

on:
  push:
    branches:
      - master
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    if: (github.event_name == 'push' && !contains(github.event.head_commit.message, '[ci skip]')) || github.event_name == 'release'
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
      
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
        
      - name: Publish to Modrinth
        run: ./gradlew :eternalcore-plugin:modrinth
        env:
          MODRINTH_TOKEN: ${{ secrets.MODRINTH_TOKEN }}
          GITHUB_EVENT_NAME: ${{ github.event_name }}
          CHANGELOG: ${{ github.event_name == 'release' && github.event.release.body || github.event.head_commit.message }}
